* {
    box-sizing: border-box;
    font-family: 'Noto Naskh Arabic', serif;
    margin: 0px;
    padding: 0px;
}


.question {
    width: auto;
    font-size: 20px;
}

.insideDiv {
    margin-top: 40px;
    border: 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.507);
}

#answers {
    margin-top: 20px;
    display: flex;
    flex: row wrap;
    justify-content: space-around;
}

.answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 5px 10px;
    background-color: #F24463;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
}

#answers div:active {
    background-color: #ec123a;
}

.photo img {
    max-width: 100%;
}

.test-box {
    cursor: pointer;
    padding: 20px;
    background-color: #ec123a;
    margin-top: 20px;
    text-align: center;
}

.activiti {
    background-color: black;
}
