*, ::after, ::before{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Abel', sans-serif;
}

:root{
    --tranlate-distance: 3.95em;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

main {
    width: 95%;
}


/* __________________ login  __________________________________ */

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    display: none;
}

.password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.password-container label{
    padding-bottom: 7px;
    text-align: center;
}

.password-container input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    padding: 8px 25px;
    border: 1px solid grey;
}

.button {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    background-color: crimson;
    margin-top: 10px;
    width: 120px;
    height: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 7px;
    transition: all 1s ease-in-out;
}

#error {
    margin: auto;
    text-align: center;
}

.password-container input:focus {
    border: 1px solid grey;
    border-radius: 7px;
    color: crimson;
    outline: 0;
    width: 20%;
    height: 100%;
    padding: 8px 25px;
}

.main-container {
    background-color: rgb(250, 141, 226);
    display: flex;
    text-align: center;
    margin-top: 40px;
    border-radius: 20px;
    width: 100%;
    height: 30vh;
    display: none;
}

.active {
    display: block;
}
